# Variáveis de Segurança
SESSION_SECRET=your_session_secret_here

# Banco de Dados PostgreSQL/Neon
DATABASE_URL=postgresql://username:password@host:port/database?sslmode=require
PGDATABASE=database_name
PGHOST=host
PGPORT=5432
PGUSER=username
PGPASSWORD=password

# Asaas
ASAAS_ZAYN_KEY=$aact_prod_*****
ASAAS_PRODUCTION_KEY=$aact_prod_*****
ASAAS_CERTIFIC_KEY=$aact_prod_*****
LYTEX_API_KEY=your_lytex_api_key_here

# API Keys
FREEPIK_API_KEY=your_freepik_api_key_here
ANTHROPIC_API_KEY=sk-ant-api03-*****
GITHUB_TOKEN=github_pat_*****
OPENAI_API_KEY=sk-proj-*****

# Email & SMS
SENDGRID_API_KEY=your_sendgrid_api_key_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here 